.grid {
    width: 200px;
    height: 400px;
    margin-left:100px;
    background-color:yellow;
    display:flex;
    flex-wrap:wrap;
}

h3 {
    margin-left:100px;
    margin-top:100px;
}

button {
    margin-left:100px;
    margin-bottom:50px;
    background-color: green;
    color:white
}

.grid div {
    width:20px;
    height:20px;
}

.tetromino {
    background-color: blue;

}

.mini-grid {
    margin-left:50px;
    width:80px;
    height:80px;
    flex-wrap:wrap;
    display:flex;
    background-color: yellow;
}

.mini-grid div {
    width:20px;
    height:20px;
}

.container {
    display:flex;
}